@model IEnumerable<NetflixPrjeq05.Models.Regle>

@using ReportViewerForMvc;
@{
    ViewBag.Title = "Rapport des règles";
}

<h2>@ViewBag.Title.</h2>
<div class="report">
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { scrolling = "Yes" })
    @section Scripts
{
    }
</div>