@model IEnumerable<NetflixPrjeq05.Models.RegleVM>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p>
    @using (Html.BeginForm("Details", "Contenus", FormMethod.Get))
    {
        @Html.DropDownList("id", ViewBag.Pays as SelectList, new { onchange = "this.form.submit();" })

    }
    <div>
    <h4>Contenu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>

        </dt>


    </dl>
</div>
</p>


