@model IEnumerable<NetflixPrjeq05.Models.Acteur>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @using (Html.BeginForm("Index", "Acteurs", FormMethod.Get))
    {
        @Html.DropDownList("id", ViewBag.Pays as SelectList, new { onchange = "this.form.submit();", @class = "form-control" })        
    }
</div>
<br />
<table class="table">
    <tr>
        <th>
            Position
        </th>
        <th>
            Affiche
        </th>
        <th>
            Nom
        </th>
        <th>
            Nombre de vue totale
        </th>
    </tr>
    @{
        int cpt = 1;
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @cpt
                </td>
                <td>
                   <!-- <img src="https://image.tmdb.org/t/p/ @*Html.DisplayFor(modelItem => item.Affiche)*@" width="150" height="200">-->
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    0
                    @*Html.DisplayFor(modelItem => item.NbVue)*@
                </td>
            </tr>
            cpt++;
        }
    }   
</table>
